<div class="main_wrapper">
  <div class="title_wrapper">
    <div>
      <div class='page_title'>
      <h3>投稿一覧ページ</h3>
    </div>
    <div class="contents_wrapper">
      <% @pictures.each do |p| %>
        <div class='contents_container'>
          <div class="container_image">
            <p>profile_image</p>
          </div>
          <div class="container_remove_image">
            <div class="container_name">
              <p> 名前 : <%= p.user.name %></p>
            </div>
            <div class="container_comment">
              <p> コメント : <%= p.content %></p>
            </div>
            <div class="picture_container">
              <% if p.post_image.url %> 
                <p class="picture_tag">picture</p>
                <%= image_tag p.post_image.url, class: "picture" if p.post_image? %>
              <% end %>
            </div>
            <div class="button_container">
              <p>detail_and_created_at</p>
            </div>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
</div>




