@charset "utf-8";
html {
  font-size: 62.5%;
  height: 100%;
}
h1,h2,h3 {
  color:#fff;
  text-shadow: 1px 1px rgb(190, 185, 185);
}
body {
  margin: 0;
}
p {
  color: #fff;
  margin: 0;
}
label {
  color: #fff;
  margin: 10px 10px;
}
.page_title {
  margin-top: 10%;
}
.btn.btn-warning {
  text-shadow: 1px 1px rgb(48, 47, 47);
}
.button_area {
  margin-top: 40px;
}
.button_margin {
  margin: 0 10px;
}
.body_wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
  background: rgb(48, 46, 46);
}
.navbar-inverse {
  color: #fff;
  text-shadow: 1px 1px rgb(22, 21, 21);
  background: linear-gradient(90deg, rgb(196, 123, 56) 20%, rgb(30, 31, 30) 60%);
}
.navbar-inverse .navbar-brand {
  color: rgb(238, 235, 235);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px rgb(20, 20, 20);
}
.nav.navbar-nav li a {
  color: #fff;
}
.main_wrapper {
  width: 100%;
  min-height: 100px;
  padding-top: 50px;
  margin-bottom: 20px;
}
h3 {
  font-size: 3rem;
  text-align: center;
}
.table_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.footer {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, rgb(30, 31, 30) 20%, rgb(196, 123, 56) 60%);
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  align-items: center;
}
footer div {
  line-height: 100%;
}
footer p {
  font-size: 1.5rem;
  text-shadow: 2px 2px #a4b0b9;
}