@charset "utf-8";
html {
  font-size: 62.5%;
  height: 100%;
}
h1,h2,h3 {
  font-size: 100%;
}
.body_wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;
}
.navbar-inverse {
  color: #fff;
  text-shadow: 1px 1px rgb(22, 21, 21);
  background: linear-gradient(90deg, rgb(196, 123, 56) 20%, rgb(30, 31, 30) 60%);
}
.navbar-inverse .navbar-brand {
  color: rgb(238, 235, 235);
  text-shadow: 1px 1px rgb(20, 20, 20);
}
.nav .navbar-nav li a {
  color: #fff;
}
.footer {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, rgb(30, 31, 30) 20%, rgb(196, 123, 56) 60%);
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  align-items: center;
}
footer div {
  line-height: 100%;
}
footer p {
  font-size: 1.5rem;
  color: rgb(9, 53, 43);
  text-shadow: 2px 2px #a4b0b9;
  margin: 0;
}