@charset "utf-8";
html {
  font-size: 62.5%;
  height: 100%;
}
h1,h2,h3 {
  color:#fff;
  text-shadow: 1px 1px rgb(190, 185, 185);
}
body {
  margin: 0;
}
p {
  color: #fff;
  margin: 0;
}
label {
  color: #fff;
}
td {
  padding: 15px 0px 15px 0;
  width: 200px;
}
.page_title {
  padding-top: 3%;
}
.btn.btn-warning {
  text-shadow: 1px 1px rgb(48, 47, 47);
  margin-top: 60px;
}
.side_margin {
  margin: 0 20px;
}
.left_margin{
  margin-left: 30px;
}
.body_wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
  background: rgb(48, 46, 46);
}
.navbar-inverse {
  color: #fff;
  text-shadow: 1px 1px rgb(22, 21, 21);
  background: linear-gradient(90deg, rgb(196, 123, 56) 20%, rgb(30, 31, 30) 60%);
}
.navbar-inverse .navbar-brand {
  color: rgb(238, 235, 235);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px rgb(20, 20, 20);
}
.nav.navbar-nav li a {
  color: #fff;
}
.main_wrapper {
  width: 100%;
  min-height: 100px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.slide_left {
  width: 60%;
  height: 100%;
}
.slide_light {
  width: 40%;
  height: 100%;
}
.image_area {
  width: 250px;
  height: 250px;
  margin-right: 20%;
  padding-bottom: 30%;
}
.image_locate{
  width: 150px;
  height: 150px;
}
h3 {
  font-size: 3rem;
  text-align: center;
}
.footer {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, rgb(30, 31, 30) 20%, rgb(196, 123, 56) 60%);
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  align-items: center;
}
footer div {
  line-height: 100%;
}
footer p {
  font-size: 1.5rem;
  text-shadow: 2px 2px #a4b0b9;
}
.flash_message {
  width: 100%;
  height: 50px;
  font-size: 3rem;
  text-align: center;
  padding-top: 80px;
}
#error_explanation {
  width: 50%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px auto;
  color: red;
}