@charset "utf-8";
.content_wrapper{
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
.float{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content_area {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.image_area_picture {
  width: 250px;
  height: 250px;
}
.comment_area {
  width: 270px;
  height: 250px;
}
.comment {
  width: 220px;
  height: 120px;
}
.contents_wrapper{
  min-width: 310px;
  height: 300px;
}
.contents_container {
  width: 300px;
  background-color: #fff;
}
// index_start
.container_remove_post_image{

}
.container_post_image {

}
.container_image {
  
}
.container_remove_image {

}
.container_name {

}
.container_comment {

}
.links_container {

}
// index_end