@charset "utf-8";
.float_column{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.float{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content_area {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.image_area_picture {
  width: 250px;
  height: 250px;
}
.comment_area {
  width: 270px;
  height: 250px;
}
.comment {
  width: 220px;
  height: 120px;
}
.title_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contents_wrapper {
  min-height: 400px;
  width: 89%;
  background: linear-gradient(-140deg, #b63681, #e4a316) fixed;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}
.contents_container {
  width: 90%;
  min-height: 130px;
  background: linear-gradient(-140deg, #c0bab4, #111011) fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  border-radius: 5px;
}
// index_start
.container_image {
  width: 100px;
  height: 100px;
  padding-left: 20px;
}
.container_remove_image {
  width: 80%;
  min-height: 125px;
  padding: 0 30px 0 40px;
  margin-top: 7px;
}
.container_name {
  width: 60%;
  height: 20px;
}
.container_comment {
  width: 130%;
  height: 55px;
  color: #fff;
}
.overflow-wrap {
  overflow-wrap: break-word;
  width: 50%;
}
.picture_container{
  width: 100%;
  min-height: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.picture_content {
  margin: 5px 0 3px 0;
}
.button_container {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.fixed_button {
  display: block;
  background: linear-gradient(-140deg, #b63681, #e4a316) fixed;
  box-shadow: 1px 1px 1px 1px rgb(194, 136, 49);
  border-radius: 10px;
  color: #f5f4f7;
  text-shadow: 1px 1px #3c3f42;
  position: fixed;
  bottom: 200px; 
  right: 10px;
  padding: 6px 15px;
}
.select_button {
  width: 50px;
  height: 20px;
  font-size: 1rem;
  text-align: center;
  line-height: 20px;
  background: linear-gradient(-140deg, #b63681, #e4a316);
  box-shadow: 1px 1px 1px 1px rgb(194, 136, 49);
  border-radius: 10px;
  color: #f5f4f7;
  text-shadow: 1px 1px #3c3f42;
  margin: 0 5px 5px 5px;
}
// index_end
// confirm_start
